/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /*====  VARIABLES ============================ */
  :root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: rgb(255, 255, 255);
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }
  
  /*===  BASE ============================ */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
  }
  
  .title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
  }